<style>
  .goalProgressGreyBar {
    background-color: lightsteelblue;
  }

  .goalProgressGreenBar {
    width: 20%;
    height: 17px;
    background-color: limegreen;
    font-size: 13px;
    color: black;
  }

  .goalProgress {
    color: black;
  }
</style>



<div class="panel-body align-contents-center">
  <div class="col-sm-4 col-sm-offset-2">
    <h4 class="text-center goalProgress">Goal Progress</h4>
    <div class="goalProgressGreyBar">
      <div class="goalProgressGreenBar text-center">20%</div>
    </div>
  </div>
</div>