<div class="container container-fluid">
    <div class="row">
        <button class="col btn btn-primary" id="addNewToDo" onclick="addNewToDo()" style="margin: 10px;">Add New To Do</button>
        <div class="form-floating col-9" style="padding: 10px">
            <input class="form-control" placeholder="Place Main Goal Here" id="goalText" style="text-align: center"></input>
            <label for="goalText">Main Goal</label>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <button class="col btn btn-primary" id="deleteLastToDo" onclick="deleteToDo()" style="margin: 10px;">Remove Last To Do</button>

        <div class="form-floating col-9" style="padding: 10px">
            <input class="form-control" placeholder="To Do" id="goalText" style="text-align: center"></input>
            <label for="goalText">Category</label>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="form-floating col" style="padding: 10px">
            <input class="form-control" placeholder="To Do" id="goalText" style="text-align: center"></input>
            <label for="goalText">To Do</label>
        </div>
    </div>

    <div id="newRow"></div>

    <div class="row d-flex justify-content-center" id="ifEmpty">
        <button class="col-8 btn btn-primary btn-lg" style="margin: 10px" id="createGoal" onclick="submitGoal()">Create Goal</button>
    </div>
</div>

<script src="../public/js/createGoal.js"></script>