<div>
  <h1>Home Page</h1>
  {{#each goals as |goal|}}
  <a href="{{goal.id}}">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h3 class="card-title">{{goal.goal_name}}</h3>
        </div>
      </div>
    </div>
  </a>
  {{/each}}
</div>