<div class='container container-fluid'>
  <div class='flex-row justify-center' style="margin-top: 10rem;">
      <div class="justify-content-center" style="margin-bottom: 7rem;">
        <div class="justify-center">{{>progress-bar}}</div>
        <h4 class="col" style="margin: 5px; color: white;">Days passed since goal creation: {{diffDate date_created}}</h4>
      </div>
    <section class='card'>
      <div class='card-body'>
        <div class='d-grid gap-2 d-md-flex justify-content-between' id='{{id}}'>
          <h2>{{goal_name}} </h2>
          <div>{{#unless goal_open}}✔️{{/unless}}</div>
          {{#if goal_open}}<input class='btn btn-primary btn-custom' id='complete-goal-btn' type='submit' value='Complete' />{{/if}}
        </div>
      </div>
    </section>
    {{#each todos as |todo|}}
    {{> todos}}
    {{/each}}
  <div id="tdCard">
    
  </div>
    <div class="row">
      <button id="addTd" type="button" class="btn btn-primary col-3" style="margin: 5px;">Add to-do</button>
      <button id="updateTodo" type="button" class="btn btn-primary col-3" style="margin: 5px;">Submit</button>
      {{#unless goal_open}}
      <button type="button" class="btn btn-primary col-3" id="confettiContainer" style="margin: 5px;">Celebrate</button>
      {{/unless}}
    </div>
    <div class="row">
    </div>
  </div>
</div>
<script src="js/addTodo.js"></script>
<script type='module'>
  import confetti from 'https://cdn.skypack.dev/canvas-confetti';
  let confettiButton = document.querySelector('#confettiContainer');
  confettiButton.addEventListener('click', () => {
    confetti({
      particleCount: 150,
      spread: 180
    });
  })
</script>